In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("PyPoll/Resources/election_data.csv")

In [4]:
df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [5]:
df.shape

(3521001, 3)

In [6]:
len(df)

3521001

In [22]:
df.Candidate.unique()

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [18]:
df.loc[:,'Vote'] = 1
df_candidate = df[['Candidate','Vote']].groupby('Candidate').sum().reset_index()
df_candidate[df_candidate.Vote > 0]

  Candidate     Vote
0    Correy   704200
1      Khan  2218231
2        Li   492940
3  O'Tooley   105630

In [24]:
df_candidate['percent'] = df_candidate['Vote'] / sum(df_candidate['Vote'])
df_candidate

  Candidate     Vote  percent
0    Correy   704200     0.20
1      Khan  2218231     0.63
2        Li   492940     0.14
3  O'Tooley   105630     0.03

In [29]:
df_candidate[df_candidate.Vote == df_candidate.Vote.max()]

  Candidate     Vote  percent
1      Khan  2218231     0.63

In [9]:
df_candidate[df_candidate.Count > 0]

AttributeError: 'DataFrame' object has no attribute 'Count'